*{
    padding: 0;
    margin: 0;
    font-family: 'Josefine Sans', sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background: #101010;
}

.hero nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}




.hero nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.hero nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
}

.hero nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}

.hero .content{
    text-align: center;
    position: absolute;
    top: 50%;
}

.hero .content h1{
    color: #000;
    margin: 20px 0px 20px;
    font-size: 75px;
}

.hero .content h1 span{
    color: #f9004d;
}

.hero .content h3{
    color: #000;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.hero .content h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background: #191919;
}

.about .main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.about .main img{ 
    height: auto;
    border-radius: 50px;
    width: 430px;
}

.about .main .about-text{
    width: 550px;
}

.about .main .about-text h2{
    color: #000;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about .main .about-text h5{
    color: #000;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about .main .about-text h5 span{
    color: #f9004d;
}

.about .main .about-text p{
    color:#fcfc;
    letter-spacing: 2px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 3px solid transparent;
    font-weight: bold;
    padding: 13px 13px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    color: #f9004d;
    background: transparent;
    cursor: pointer;
    border: 2px solid #f9004d;
}

.skills{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.skills .title h2{
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.skills .box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

.skills .box .card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 30px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.skills .box .card i{
    font-size: 30px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

.skills .box .card h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.skills .box .card .pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.skills .box .card .button{
    background: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 3px solid transparent;
    font-weight: bold;
    padding: 13px 13px;
    border-radius: 30px;
    transition: .4s;
}

.skills .box .card .button:hover{
    color: #f9004d;
    background: transparent;
    cursor: pointer;
    border: 2px solid #f9004d;
}

.contact{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact .button-two{
    background: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 3px solid transparent;
    font-weight: bold;
    padding: 13px 13px;
    border-radius: 30px;
    transition: .4s;
}

.contact .button-two:hover{
    /* color: #f9004d; */
    background: transparent;
    cursor: pointer;
    border: 2px solid #f9004d;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer p{
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

